@import-normalize;

body {
  background-color: rgba(248, 248, 248, 0.8);
  max-width: 1900px;
  margin: 0 auto;
}

.app {
  &__title {
    text-align: center;
    color: #4338ca;
  }
}
@media (max-width: 800px) {
  .app {
    width: 800px;
  }
}