@import-normalize;

body {
  background-color: rgba(248, 248, 248, 0.8);
  max-width: 1900px;
  margin: 0 auto;
}

.app {
  &__title {
    text-align: center;
    color: #1876D2;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
}
